<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>


  <main>

  
  <div class="body-style" >
    <div class="text-center">
    <h2>Welcome</h2>
    <h3>Home Page!!!!</h3>
</div>
</div>
</main>

<footer></footer>