body{
    background-color:lightgray;
}

.bgsetting{
    background-color: skyblue;
    border-style: solid;
    border-color: blue;
    width: 600px;
    height: auto;
    padding: 10px;
    margin-left: 30%;
}

.body-style h2{
    color: green;

}

.body-style h3{
   
color: black;
}


